html {
	width: 100%;
	height: 100%;
}
	body {
		margin: auto;
		padding: auto;
	}
span {
	position: relative;
	font-family: 'Vollkorn', serif;;
	font-weight: bold;
	font-size: 12px;
	color: #ffd700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5em;
	text-decoration: none;
	margin: 3px;
	transition: 1s ease-in-out;
   cursor: pointer;
	font-weight: 100;
	-webkit-text-stroke: .2px #320240;
}

a {
	text-transform: none;
	text-decoration: none;
}

.main-wind {
	background-image: url(/img/background-1.jpg);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25%;
	min-width: 190px;
	height: 75%;
	border: 2px solid #ffd700;
	border-radius: 19px;
	box-shadow: 0px 0px 9px #320240;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
   margin: 0;
}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;} 


#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
	#bg img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
	}

.greetings {
	margin: auto;
	padding: auto;
	position: absolute;
	top: 88%;
	left: 50%;
	-webkit-transform: translate(-50%,-88%);
	transform: translate(-50%,-88%);
	-moz-transform: translate(-50%,-88%);
	transform: translate(-50%,-88%);
	-ms-transform: translate(-50%,-8%);
	transform: translate(-50%,-88%);
	-o-transform: translate(-50%,-88%);
	transform: translate(-50%,-88%);
}
	.butt {
		border: 1px solid #ffd700;
		width: 180px;
		height: 55px;
		text-align: center;
		line-height: 1.5em;
		position: relative;
		display: block;
		margin: 3px;
		transition: 1s ease-in-out;
		overflow: hidden;
		background-image: url(/img/background.jpg);
		box-shadow: inset 0px 0px 7px rgb(50,2,64);
		cursor: pointer;
		outline: none;
	}
		.butt:hover {
			background-image: url(/img/background-gold.jpg);
			transition: 1s ease-in-out;
		}
		.butt:hover svg {
			stroke-dashoffset: -480;
		}
		.butt:hover span {
			color: #320240;
			text-shadow: #ffd700 0.5px 0.5px 0;
			text-decoration: none;
		}
	svg {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		fill: none;
		stroke: rgb(255,215,0);
		stroke-dasharray: 150 480;
		stroke-dashoffset: 150;
		transition: 1s ease-in-out;
	}
	.pulse {
		background-color: #320240;
		border-radius: 50%;
		animation: pulse 0.3s ease-out;
		transform: scale(0);
		position: absolute;
	}
	@keyframes pulse {
		to {
			transform: scale(2);
			background-color: #000;
			opacity: 0;
		} 
	}


#backward {
	display: none;
}
#seller {
	display: none;
}
#buyer {
	display: none;
}
#entry {
	display: none;
}


.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%;
   overflow: auto;
   background-color: #320240;
   background-color: #320240;
}

.modal-content {
	width: 100%;
	min-width: 190px;
	height: 100%;
   margin: auto;
   width: 80%; 
}

#entry-content{
	transition: .3s ease-in-out;
}

	.imgcontainer {
		position: relative;
		text-align: center;
	}
		img.avatar {
			margin: 30px 0 12px 0;
			width: 70%;
			border-radius: 50%;
		}

	.container {
		padding: 0px 10px 0px 10px;
	}
		.note {
			font-family: 'Vollkorn', serif;
			font-size: 11px;
			color: #ffd700;
			text-align: center;
			line-height: 1.5em;
			text-decoration: none;
			margin: 2px;
			font-weight: 100;
			-webkit-text-stroke: .02px #320240;
		}
		input[type="tel"], input[type="password"] {
			position: relative;
			width: 100%;
			height: 35px;
			padding: 3px 25px;
			margin: 3px 0;
			display: inline-block;
			border: 1.3px solid #ffd700;
			box-sizing: border-box;
			box-shadow: inset 0px 0px 4px rgb(50,2,64);
			background: url("/img/background.jpg") 0px 0px no-repeat;
			-webkit-transition: .3s ease-in-out;
			outline: none;
			transition: .3s ease-in-out;
		}
		input[type="tel"] {
			padding: 3px 45px;
		}
			input[type="tel"]:focus, input[type="password"]:focus {
				border: 1.3px solid #ffd700;
				box-sizing: border-box;
				box-shadow: inset 0px 0px 7px rgb(50,2,64);
			}
			input[type="tel"]::-webkit-input-placeholder,
			input[type="password"]::-webkit-input-placeholder {
				position: relative;
				font-family: 'Vollkorn', serif;;
				font-weight: bold;
				font-size: 12px;
				color: #ffd700;
				text-transform: lowercase;
				line-height: 1.5em;
				text-decoration: none;
				transition: 1s ease-in-out;
				font-weight: 100;
				-webkit-text-stroke: 0.13px #320240;
			} 
			input[type="tel"]::-moz-placeholder,
			input[type="password"]::-moz-placeholder {
				position: relative;
				font-family: 'Vollkorn', serif;;
				font-weight: bold;
				font-size: 12px;
				color: #ffd700;
				text-transform: lowercase;
				line-height: 1.5em;
				text-decoration: none;
				transition: 1s ease-in-out;
				font-weight: 100;
				-webkit-text-stroke: 0.13px #320240;
			}

		.inputU::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
		.inputU::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
		.inputU:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
		.inputU:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
		.inputU:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
		.inputU:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
		.inputU:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
		.inputU:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

		#remember {
			float: right;
		}
		input #birdie {
			color: #320240;
		}
		#textRemember {
			font-family: 'Vollkorn', serif;;
			font-size: 14px;
			color: #320240;
			line-height: 1.5em;
		}
		#contry {
			position: absolute;
			font-family: 'Vollkorn', serif;;
			font-weight: bold;
			font-size: 12px;
			color: #ffd700;
			border-right: 2px solid #ffd700;
			border-radius: 10px;
			margin-top: 5px;
			padding: 9px 5px 8px 8px;
			transition: 1s ease-in-out;
			font-weight: 100;
			cursor:default;
			-webkit-text-stroke: .2px #320240;
			z-index: 1;
		}

		.forpassword::before {
			font-family: 'FontAwesome';
			content: "\f023";
			position: absolute;
			font-size: 15px;
			padding: 12px 0 0 7px;
			color: #ffd700;
			-webkit-text-stroke: 0.5px #320240;
			z-index: 1;
		}
			.forpassword:hover::before {
				content: "\f13e";
			}
		
		#forgotten {
			font-family: 'Vollkorn', serif;
			font-size: 11px;
			color: #ffd700;
			text-align: center;
			line-height: 1.5em;
			text-decoration: none;
			font-weight: 100;
			-webkit-text-stroke: .0px #320240;
			float: right;
			padding-top: 5px;
			padding-right: 5px;
			margin-top: -3px;
			content: "";
			transition: width 0.3s ease-out;
		}
			#forgotten:after {
				display: block;
				position: relative;
				left: 0;
				width: 0;
				height: 1px;
				background-color: #320240;
				content: "";
				transition: width 0.3s ease-out;
			}
				#forgotten:hover:after,
				#forgotten:focus:after,
				#forgotten:hover:after,
				#forgotten:focus:after {
					width: 100%; 
				}
		/* Base for label styling */
		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
		  position: absolute;
		  left: 0;
		  opacity: 0.01;
		}
		[type="checkbox"]:not(:checked) + label,
		[type="checkbox"]:checked + label {
		  position: relative;
		  padding-left: 2.3em;
		  font-size: 1.05em;
		  line-height: 1.7;
		  cursor: pointer;
		}
	 
		/* checkbox aspect */
		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before {
		  content: '';
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 1.4em;
		  height: 1.4em;
		  border: 1px solid #aaa;
		  background: #FFF;
		  border-radius: .2em;
		  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
		  -webkit-transition: all .275s;
				transition: all .275s;
		}
	 
		/* checked mark aspect */
		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after {
		  content: '✕';
		  position: absolute;
		  top: .525em;
		  left: .18em;
		  font-size: 1.375em;
		  color: #ffd700;
		  line-height: 0;
		  -webkit-transition: all .2s;
				transition: all .2s;
		}
	 
		/* checked mark aspect changes */
		[type="checkbox"]:not(:checked) + label:after {
		  opacity: 0;
		  -webkit-transform: scale(0) rotate(45deg);
				transform: scale(0) rotate(45deg);
		}
	 
		[type="checkbox"]:checked + label:after {
		  opacity: 1;
		  -webkit-transform: scale(1) rotate(0);
				transform: scale(1) rotate(0);
		}
	 
		/* Disabled checkbox */
		[type="checkbox"]:disabled:not(:checked) + label:before,
		[type="checkbox"]:disabled:checked + label:before {
		  box-shadow: none;
		  border-color: #bbb;
		  background-color: #e9e9e9;
		}
	 
		[type="checkbox"]:disabled:checked + label:after {
		  color: #777;
		}
	 
		[type="checkbox"]:disabled + label {
		  color: #aaa;
		}
	 
		/* Accessibility */
		[type="checkbox"]:checked:focus + label:before,
		[type="checkbox"]:not(:checked):focus + label:before {
		  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(235, 215, 0, .2);
		}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}


#for-sellers {
	display: none;
}
#seller-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	min-width: 190px;
	height: 100%;
	border: 2px solid #ffd700;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#seller-modal {
	width: 100%;
	min-width: 190px;
	height: 100%;
   background-color: Transparent;
   background-repeat: no-repeat;
   margin: auto;
   border: 1px solid rgb(136, 136, 136);
   width: 80%; 
}